footer {
    background-color: #2F303A;

    padding-top: var(--typical-padding-midi);
    padding-bottom: var(--typical-padding-midi);

    .container {
        display: flex;
        align-items: baseline;
    }

    .logo-blue {
        margin-right: 0;
    }
}

.contacts__logo-white {
    color: var(--hero-text-color);
    margin-right: 156px;
}
 
.location {
    font-style: normal;

    margin-top: 20px;
}

.location__text {
    color: var(--hero-text-color);

    margin-bottom: 9px;
}

.location__link {
    transition: color 250ms var(--time-variable);

    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.location__item:not(:last-child) {
    margin-bottom: 9px;
}

.join__text {
    display: block;
    font-weight: 700;
    font-style: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--hero-text-color);
    margin-bottom: 20px;  
}

.options {
    margin-left: 93px;
}

.subscription {
    display: flex;
}

.subscription__input {
    display: flex;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px Solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    color: var(--hero-text-color);
    transition: border 250ms var(--time-variable),
    box-shadow 250ms var(--time-variable);

    &:focus {
        border: 1px Solid var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &::placeholder {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03;
        cursor: pointer;
    }
}

.subscription__btn {
    display: flex;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12px;
}

.subscription__icon {
    align-items: center;
    margin-left: 10px;
}

.join-color {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--hero-text-color);
}