.blok-our-featires {
    padding-top: var(--typical-padding-maxi);
}

.our-featires {
    display: flex;
    margin-right: -30px;
}

.our-featire__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;

    &::before{
        display: block;
        content: "";
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
        background-size: 70px;
    }

}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}

.our-featire__title {
    color: var(--primary-text-color);
    @include font(700, 14px, 1.14, 0.03em);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: var(--typical-margin-midi);
 }

.our-featire__text {
    max-width: 270px;
}

